<!DOCTYPE html>
<html>
<head>
    <title>My Note Entries - By Comfort Ajala</title>
</head>
<body>

  <div class="content">
      <div class="content-background">
        <div class="content-pane">
                    <figure>
                      <div class="buttons-pane">
                          <a href="/authentication">login again ?</a>
                          <a href="/home">go to the first page ? </a>
                      </div>
                    </figure>

                    <div id="component"><!--- REACT COMPONENT HERE  PUBLIC POSTS ---></div>
          </div>
      </div>
  </div>

<script src="./js/logout.js"></script>
</body>
</html>
